@{
    ViewBag.Title = "新聞 公告 聲明";
    ViewBag.BodyClass = "News Announcement";
}

@section breadcrumb {
    <li><a href="~/News">最新訊息 活動公告</a></li>
    <li>@ViewBag.Title</li>
}

<h1 class="title"><span>@ViewBag.Title</span></h1>

@* 每頁10筆資料，列出新聞公告聲明的所有文章，依日期最新到最舊 *@
<div class="articles">

    <article class="article">
        <div class="row">
            <div class="col-xs-3">
                <a href="~/News/AnnouncementContent" class="thumbnail">
                    @* 沒有圖檔的替代圖 *@
                    <img src="http://via.placeholder.com/800x510?text=No+Images" alt="">
                </a>
            </div>
            <div class="col-xs-9">
                @*
                新聞         class + label-danger
                公告         class + label-pink
                聲明         class + label-purple
                *@
                <span class="label label-danger"><a href="~/News/AnnouncementList">中央新聞</a></span>
                <small class="date">2018-01-20</small>
                <h3><a href="~/News/AnnouncementContent">2018 台灣民政府受國際邀約 代表台灣參加全球人才高峰會</a></h3>
                @* 摘要 取前 145 個字，有資料的話才顯示 *@
                <p>台灣民政府代表與蘇黎世美國商會CEO喜相逢，2018 世界網絡論壇 台灣民政府 代表台灣參加 成果豐碩！台灣民政府 打破國際困境，領台灣人第一次參加世界網絡論壇。</p>
                <a href="~/News/AnnouncementContent" class="more"> 閱讀全文 <i class="oi" data-glyph="caret-right"></i></a>
            </div>
        </div>
    </article>

    <article class="article">
        <div class="row">
            <div class="col-xs-3">
                <a href="~/News/AnnouncementContent" class="thumbnail">
                    <img src="http://api.ning.com/files/ymSmd4em4y3tD9NclSe*1XQevDWPd-1a*I2DF5kGhLCF11rLpSuIOsB0zctgpvX4sGlyJCd0EZjvBifYYqTbHFVodRmJ9iZe/2018118026.jpg" alt="">
                </a>
            </div>
            <div class="col-xs-9">
                <span class="label label-pink"><a href="~/News/AnnouncementList">中央公告</a></span>
                <small class="date">2018-01-20</small>
                <h3><a href="~/News/AnnouncementContent">2018 台灣民政府受國際邀約 代表台灣參加全球人才高峰會</a></h3>
                @* 摘要 取前 145 個字，有資料的話才顯示 *@
                <p>台灣民政府代表與蘇黎世美國商會CEO喜相逢，2018 世界網絡論壇 台灣民政府 代表台灣參加 成果豐碩！台灣民政府 打破國際困境，領台灣人第一次參加世界網絡論壇。</p>
                <a href="~/News/AnnouncementContent" class="more"> 閱讀全文 <i class="oi" data-glyph="caret-right"></i></a>
            </div>
        </div>
    </article>

    <article class="article">
        <div class="row">
            <div class="col-xs-3">
                <a href="~/News/AnnouncementContent" class="thumbnail">
                    <img src="http://api.ning.com/files/ymSmd4em4y3tD9NclSe*1XQevDWPd-1a*I2DF5kGhLCF11rLpSuIOsB0zctgpvX4sGlyJCd0EZjvBifYYqTbHFVodRmJ9iZe/2018118026.jpg" alt="">
                </a>
            </div>
            <div class="col-xs-9">
                <span class="label label-purple"><a href="~/News/AnnouncementList">中央聲明</a></span>
                <small class="date">2018-01-20</small>
                <h3><a href="~/News/AnnouncementContent">2018 台灣民政府受國際邀約 代表台灣參加全球人才高峰會</a></h3>
                @* 摘要 取前 145 個字，有資料的話才顯示 *@
                <p>台灣民政府代表與蘇黎世美國商會CEO喜相逢，2018 世界網絡論壇 台灣民政府 代表台灣參加 成果豐碩！台灣民政府 打破國際困境，領台灣人第一次參加世界網絡論壇。</p>
                <a href="~/News/AnnouncementContent" class="more"> 閱讀全文 <i class="oi" data-glyph="caret-right"></i></a>
            </div>
        </div>
    </article>

</div>

<ul class="pager list-inline text-center">
    <li class="prev">
        @* 有資料的話才顯示 *@
        <a href="#">
            <i class="oi" data-glyph="chevron-left"></i>
            上一頁
        </a>
    </li>
    <li>
        <form action="" class="form-inline">
            第
            <select name="" id="" class="form-element">
                <option value="1">1</option>
            </select>
            頁
        </form>
    </li>
    <li class="next">
        @* 有資料的話才顯示 *@
        <a href="#">
            下一頁
            <i class="oi" data-glyph="chevron-right"></i>
        </a>
    </li>
</ul>