@{
    ViewBag.Title = "新聞 公告 聲明";
    ViewBag.BodyClass = "News Announcement";
}

@section breadcrumb {
    <li><a href="~/News">最新訊息</a></li>
    <li><a href="~/News/AnnouncementLatest">新聞 公告 聲明</a></li>
    <li>@ViewBag.Title</li>
}

<h1 class="title">@ViewBag.Title</h1>