@{
    ViewBag.Title = "中央新聞"; @* 分類名稱 *@
    ViewBag.BodyClass = "News Announcement";
}

@section breadcrumb {
    <li><a href="~/News">最新訊息 活動公告</a></li>
    <li><a href="~/News/AnnouncementLatest">新聞 公告 聲明</a></li>
    <li>@ViewBag.Title</li>
}

<h1 class="sr-only">新聞 公告 聲明</h1>

<h2 class="title">
    <span class="underline">@ViewBag.Title</span>
    <div class="addthis_inline_share_toolbox"></div>
</h2>

@* 每頁10筆資料 *@
<div class="articles">

    <article class="article">
        <div class="row">
            <div class="col-lg-3 col-sm-4 col-12">
                <a href="~/News/AnnouncementContent" class="thumbnail">
                    @* 沒有圖檔的替代圖 *@
                    <img src="http://via.placeholder.com/800x510?text=No+Images" alt="">
                </a>
            </div>
            <div class="col-lg-9 col-sm-8 col-12">
                <span class="label label-danger"><a href="~/News/AnnouncementList">中央新聞</a></span>
                <small class="date">2018-01-20</small>
                <h3><a href="~/News/AnnouncementContent">2018 台灣民政府受國際邀約 代表台灣參加全球人才高峰會</a></h3>
                @* 摘要 取前 145 個字，有資料的話才顯示 *@
                <p>台灣民政府代表與蘇黎世美國商會CEO喜相逢，2018 世界網絡論壇 台灣民政府 代表台灣參加 成果豐碩！台灣民政府 打破國際困境，領台灣人第一次參加世界網絡論壇。</p>
                <a href="~/News/AnnouncementContent" class="more"> 閱讀全文 <i class="oi" data-glyph="caret-right"></i></a>
            </div>
        </div>
    </article>

    <article class="article">
        <div class="row">
            <div class="col-lg-3 col-sm-4 col-12">
                <a href="~/News/AnnouncementContent" class="thumbnail">
                    <img src="http://api.ning.com/files/ymSmd4em4y3tD9NclSe*1XQevDWPd-1a*I2DF5kGhLCF11rLpSuIOsB0zctgpvX4sGlyJCd0EZjvBifYYqTbHFVodRmJ9iZe/2018118026.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-9 col-sm-8 col-12">
                <span class="label label-danger"><a href="~/News/AnnouncementList">中央新聞</a></span>
                <small class="date">2018-01-20</small>
                <h3><a href="~/News/AnnouncementContent">2018 台灣民政府受國際邀約 代表台灣參加全球人才高峰會</a></h3>
                @* 摘要 取前 145 個字，有資料的話才顯示 *@
                <p>台灣民政府代表與蘇黎世美國商會CEO喜相逢，2018 世界網絡論壇 台灣民政府 代表台灣參加 成果豐碩！台灣民政府 打破國際困境，領台灣人第一次參加世界網絡論壇。</p>
                <a href="~/News/AnnouncementContent" class="more"> 閱讀全文 <i class="oi" data-glyph="caret-right"></i></a>
            </div>
        </div>
    </article>

</div>

<ul class="pager list-inline text-center">
    <li class="prev">
        @* 有資料的話才顯示 *@
        <a href="#">
            <i class="oi" data-glyph="chevron-left"></i>
            <span class="hidden-xs">上一頁</span>
        </a>
    </li>
    <li>
        <form action="" class="form-inline">
            第
            <select name="" id="" class="form-element">
                <option value="1">1</option>
            </select>
            頁
        </form>
    </li>
    <li class="next">
        @* 有資料的話才顯示 *@
        <a href="#">
            <span class="hidden-xs">下一頁</span>
            <i class="oi" data-glyph="chevron-right"></i>
        </a>
    </li>
</ul>