@{
    ViewBag.Title = "各州活動";
    ViewBag.BodyClass = "News Event";
}

@section breadcrumb {
    <li><a href="~/News">最新訊息 活動公告</a></li>
    <li><a href="~/News/EventLatest">活動寫真</a></li>
    <li>@ViewBag.Title</li>
}

<h1 class="sr-only">活動寫真</h1>

<ul class="tabs list-inline text-center">
    <li><a href="~/News/EventLatest">最新活動</a></li>
    <li><a class="current" href="~/News/EventStatesCategory">各州活動</a></li>
</ul>

<h2 class="title">
    <span class="underline">@ViewBag.Title</span>
    <!-- <div class="addthis_inline_share_toolbox"></div> -->
</h2>

<ul class="list-category states list-unstyled row">
    <li class="col-md-4 col-sm-6 col-12">
        <a class="yilan" href="~/News/EventStatesList">
            <i class="icon-state-yilan"></i>
            <span>宜蘭州</span>
        </a>
    </li>
    <li class="col-md-4 col-sm-6 col-12">
        <a class="taipei" href="~/News/EventStatesList">
            <i class="icon-state-taipei"></i>
            <span>台北州</span>
        </a>
    </li>
    <li class="col-md-4 col-sm-6 col-12">
        <a class="hsinchu" href="~/News/EventStatesList">
            <i class="icon-state-hsinchu"></i>
            <span>新竹州</span>
        </a>
    </li>
    <li class="col-md-4 col-sm-6 col-12">
        <a class="taichung" href="~/News/EventStatesList">
            <i class="icon-state-taichung"></i>
            <span>台中州</span>
        </a>
    </li>
    <li class="col-md-4 col-sm-6 col-12">
        <a class="tainan" href="~/News/EventStatesList">
            <i class="icon-state-tainan"></i>
            <span>台南州</span>
        </a>
    </li>
    <li class="col-md-4 col-sm-6 col-12">
        <a class="kaohsiung" href="~/News/EventStatesList">
            <i class="icon-state-kaohsiung"></i>
            <span>高雄州</span>
        </a>
    </li>
</ul>