@{
    ViewBag.Title = "各州活動";
    ViewBag.BodyClass = "News Event";
}

@section breadcrumb {
    <li><a href="~/News">最新訊息</a></li>
    <li><a href="~/News/EventLatest">活動寫真</a></li>
    <li>@ViewBag.Title</li>
}

<h1 class="sr-only">活動寫真</h1>

<ul class="tabs list-inline text-center">
    <li><a href="~/News/EventLatest">最新活動</a></li>
    <li><a href="~/News/EventHistoryList">歷史活動</a></li>
    <li><a class="current" href="~/News/EventStatesCategory">各州活動</a></li>
</ul>

<h2 class="title">@ViewBag.Title</h2>