@{
    ViewBag.Title = "各州活動";
    ViewBag.BodyClass = "News Event";
}

@section breadcrumb {
    <li><a href="~/News">最新訊息</a></li>
    <li><a href="~/News/EventLatest">活動寫真</a></li>
    <li>@ViewBag.Title</li>
}

<h1 class="sr-only">活動寫真</h1>

<ul class="tabs list-inline text-center">
    <li><a href="~/News/EventLatest">最新活動</a></li>
    <li><a href="~/News/EventHistoryList">歷史活動</a></li>
    <li><a class="current" href="~/News/EventStatesCategory">各州活動</a></li>
</ul>

<h2 class="title">@ViewBag.Title</h2>

<ul class="list-category list-unstyled row">
    <li class="col-xs-4">
        <a href="~/News/EventStatesList">
            <span>宜蘭州</span>
        </a>
    </li>
    <li class="col-xs-4">
        <a href="~/News/EventStatesList">
            <span>台北州</span>
        </a>
    </li>
    <li class="col-xs-4">
        <a href="~/News/EventStatesList">
            <span>新竹州</span>
        </a>
    </li>
    <li class="col-xs-3">
        <a href="~/News/EventStatesList">
            <span>台中州</span>
        </a>
    </li>
    <li class="col-xs-3">
        <a href="~/News/EventStatesList">
            <span>台南州</span>
        </a>
    </li>
    <li class="col-xs-3">
        <a href="~/News/EventStatesList">
            <span>高雄州</span>
        </a>
    </li>
</ul>