@{
    ViewBag.Title = "焦點專欄";
    ViewBag.BodyClass = "News Focus";
}

@section breadcrumb {
    <li><a href="~/News">最新訊息 活動公告</a></li>
    <li>@ViewBag.Title</li>
}

<h1 class="title"><span>@ViewBag.Title</span></h1>

<ul class="list-category list-unstyled row">
    <li class="col-lg-3 col-md-4 col-sm-6 col-12">
        <a href="~/News/FocusList">
            <span>所有美國官司案</span>
        </a>
    </li>
    <li class="col-lg-3 col-md-4 col-sm-6 col-12">
        <a href="~/News/FocusList">
            <span>焦點專欄分類2</span>
        </a>
    </li>
    <li class="col-lg-3 col-md-4 col-sm-6 col-12">
        <a href="~/News/FocusList">
            <span>焦點專欄分類3</span>
        </a>
    </li>
    <li class="col-lg-3 col-md-4 col-sm-6 col-12">
        <a href="~/News/FocusList">
            <span>焦點專欄分類4</span>
        </a>
    </li>
    <li class="col-lg-3 col-md-4 col-sm-6 col-12">
        <a href="~/News/FocusList">
            <span>焦點專欄分類5</span>
        </a>
    </li>
    <li class="col-lg-3 col-md-4 col-sm-6 col-12">
        <a href="~/News/FocusList">
            <span>焦點專欄分類6</span>
        </a>
    </li>
</ul>