@using System.Data
@{
    ViewBag.Title = "焦點專欄";
    ViewBag.BodyClass = "News Focus";

    //參數值設定
    DataTable dt = (DataTable)ViewData["dt"];
    string cate_id = "";
    string cate_name = "";
    string cate_desc = "";
}

@section breadcrumb {
    <li><a href="~/News">最新訊息 活動公告</a></li>
    <li>@ViewBag.Title</li>
}

<h1 class="title">
    <span class="underline">@ViewBag.Title</span>
    <div class="addthis_inline_share_toolbox"></div>
</h1>

<ul class="list-category list-unstyled row row-center">
    @for (int i = 0; i < dt.Rows.Count; i++)
    {
        cate_id = dt.Rows[i]["id"].ToString();
        cate_name = dt.Rows[i]["cate_name"].ToString();
        cate_desc = dt.Rows[i]["cate_desc"].ToString();

        <li class="col-lg-3 col-md-4 col-sm-6 col-12">
            <a href="@Url.Content("~/News/FocusList?cate_id=" + cate_id)">
                <span>@Html.Raw(cate_name)</span>
            </a>
        </li>
    }
    @*
    <li class="col-lg-3 col-md-4 col-sm-6 col-12">
        <a href="~/News/FocusList">
            <span>所有美國官司案</span>
        </a>
    </li>
    <li class="col-lg-3 col-md-4 col-sm-6 col-12">
        <a href="~/News/FocusList">
            <span>焦點專欄分類2</span>
        </a>
    </li>
    <li class="col-lg-3 col-md-4 col-sm-6 col-12">
        <a href="~/News/FocusList">
            <span>焦點專欄分類3</span>
        </a>
    </li>
    <li class="col-lg-3 col-md-4 col-sm-6 col-12">
        <a href="~/News/FocusList">
            <span>焦點專欄分類4</span>
        </a>
    </li>
    <li class="col-lg-3 col-md-4 col-sm-6 col-12">
        <a href="~/News/FocusList">
            <span>焦點專欄分類5</span>
        </a>
    </li>
    <li class="col-lg-3 col-md-4 col-sm-6 col-12">
        <a href="~/News/FocusList">
            <span>焦點專欄分類6</span>
        </a>
    </li>
    *@
</ul>