@{
    ViewBag.Title = "最新訊息 活動公告";
    ViewBag.BodyClass = "News Latest";
}

@section breadcrumb {
    <li>@ViewBag.Title</li>
}

<h1 class="title"><span>@ViewBag.Title</span></h1>

@* 後台有設定要顯示在最新訊息的文章 (最多10筆，依日期最新到最舊) *@
<div class="articles">

    <article class="article">
        <div class="row">
            <div class="col-xs-3">
                <a href="~/News/EventLatestContent" class="thumbnail">
                    @* 沒有圖檔的替代圖 *@
                    <img src="http://via.placeholder.com/800x510?text=No+Images" alt="">
                </a>
            </div>
            <div class="col-xs-9">
                @*
                最新活動     class + label-warning
                各州活動     class + label-orange
                新聞         class + label-danger
                公告         class + label-pink
                聲明         class + label-purple
                焦點專欄     class + label-info
                *@
                <span class="label label-warning"><a href="~/News/EventLatest">最新活動</a></span>
                <small class="date">2018-01-20</small>
                <h3><a href="~/News/EventLatestContent">2018 台灣民政府受國際邀約 代表台灣參加全球人才高峰會</a></h3>
                @* 摘要 取前 145 個字，有資料的話才顯示 *@
                <p>台灣民政府代表與蘇黎世美國商會CEO喜相逢，2018 世界網絡論壇 台灣民政府 代表台灣參加 成果豐碩！台灣民政府 打破國際困境，領台灣人第一次參加世界網絡論壇。</p>
                <a href="~/News/EventLatestContent" class="more"> 閱讀全文 <i class="oi" data-glyph="caret-right"></i></a>
            </div>
        </div>
    </article>

    <article class="article">
        <div class="row">
            <div class="col-xs-3">
                <a href="~/News/AnnouncementContent" class="thumbnail">
                    <img src="http://api.ning.com/files/ymSmd4em4y3tD9NclSe*1XQevDWPd-1a*I2DF5kGhLCF11rLpSuIOsB0zctgpvX4sGlyJCd0EZjvBifYYqTbHFVodRmJ9iZe/2018118026.jpg" alt="">
                </a>
            </div>
            <div class="col-xs-9">
                <span class="label label-danger"><a href="~/News/AnnouncementList">中央新聞</a></span>
                <small class="date">2018-01-20</small>
                <h3><a href="~/News/AnnouncementContent">2018 台灣民政府受國際邀約 代表台灣參加全球人才高峰會</a></h3>
                @* 摘要 取前 145 個字，有資料的話才顯示 *@
                <p>台灣民政府代表與蘇黎世美國商會CEO喜相逢，2018 世界網絡論壇 台灣民政府 代表台灣參加 成果豐碩！台灣民政府 打破國際困境，領台灣人第一次參加世界網絡論壇。</p>
                <a href="~/News/AnnouncementyContent" class="more"> 閱讀全文 <i class="oi" data-glyph="caret-right"></i></a>
            </div>
        </div>
    </article>

    <article class="article">
        <div class="row">
            <div class="col-xs-3">
                <a href="~/News/FocusContent" class="thumbnail">
                    <img src="http://api.ning.com/files/ymSmd4em4y3tD9NclSe*1XQevDWPd-1a*I2DF5kGhLCF11rLpSuIOsB0zctgpvX4sGlyJCd0EZjvBifYYqTbHFVodRmJ9iZe/2018118026.jpg" alt="">
                </a>
            </div>
            <div class="col-xs-9">
                <span class="label label-info"><a href="~/News/FocusCategory">焦點專欄</a></span>
                <small class="date">2018-01-20</small>
                <h3><a href="~/News/FocusContent">2018 台灣民政府受國際邀約 代表台灣參加全球人才高峰會</a></h3>
                @* 摘要 取前 145 個字，有資料的話才顯示 *@
                <p>台灣民政府代表與蘇黎世美國商會CEO喜相逢，2018 世界網絡論壇 台灣民政府 代表台灣參加 成果豐碩！台灣民政府 打破國際困境，領台灣人第一次參加世界網絡論壇。</p>
                <a href="~/News/FocusContent" class="more"> 閱讀全文 <i class="oi" data-glyph="caret-right"></i></a>
            </div>
        </div>
    </article>

</div>