@{
    ViewBag.Title = "教育專欄";
    ViewBag.BodyClass = "AboutUs Education";
}

@section breadcrumb {
    <li><a href="~/AboutUs">什麼是台灣民政府</a></li>
    <li>@ViewBag.Title</li>
}

<h1 class="title">@ViewBag.Title</h1>

<ul class="list-category list-unstyled row">
    <li class="col-xs-3">
        <a href="~/AboutUs/EducationList">
            <span>台灣戰爭史 回顧</span>
        </a>
    </li>
    <li class="col-xs-3">
        <a href="~/AboutUs/EducationList">
            <span>台灣歷史 郭弘斌</span>
        </a>
    </li>
    <li class="col-xs-3">
        <a href="~/AboutUs/EducationList">
            <span>教育專欄分類3</span>
        </a>
    </li>
    <li class="col-xs-3">
        <a href="~/AboutUs/EducationList">
            <span>教育專欄分類4分類4分類4分類4分類4分類4分類4分類4</span>
        </a>
    </li>
    <li class="col-xs-3">
        <a href="~/AboutUs/EducationList">
            <span>教育專欄分類3</span>
        </a>
    </li>
    <li class="col-xs-3">
        <a href="~/AboutUs/EducationList">
            <span>教育專欄分類4分類4分類4分類4分類4分類4分類4分類4分類4分類4分類4分類4分類4分類4分類4分類4分類4分類4分類4分類4分類4分類4分類4分類4</span>
        </a>
    </li>
</ul>
