@{
    ViewBag.Title = "行政區域圖&組織架構";
    ViewBag.BodyClass = "AboutUs Organization";
}

@section breadcrumb {
    <li><a href="~/AboutUs">什麼是台灣民政府</a></li>
    <li>@ViewBag.Title</li>
}

@section css {
    <link rel="stylesheet" href="~/Content/css/vendor/swiper.min.css">
}

@section scripts {
    <script src="~/Content/js/tabs.js"></script>
    <script src="~/Content/js/swiper.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 'auto',
            spaceBetween: 0,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
}

<h1 class="sr-only">關於我們 - @ViewBag.Title</h1>

<ul class="tabs list-inline text-center">
    <li><a class="tab-nav current" href="#tab1">行政區域圖</a></li>
    <li><a class="tab-nav" href="#tab2">組織架構</a></li>
    <li><a class="tab-nav" href="#tab3">人事名單</a></li>
</ul>

<div class="tab-content">

    <!-- 行政區域圖 -->
    <div class="tab current" id="tab1">
        <h2 class="title">
            <div class="addthis_inline_share_toolbox"></div>
            <span>行政區域圖</span>
        </h2>

        <div class="tab-content clearfix editor">

            @* 文章分頁 頁籤切換，只有一頁就不顯示頁籤 *@
            <div class="tabs slider">
                <div class="swiper-container">
                    <ul class="swiper-wrapper list-inline">
                        <li class="swiper-slide">
                            <a class="tab-nav current" href="#tab1-1">文章分頁1</a>
                        </li>
                        <li class="swiper-slide">
                            <a class="tab-nav" href="#tab1-2">文章分頁2文章分頁2文章分頁2</a>
                        </li>
                        <li class="swiper-slide">
                            <a class="tab-nav" href="#tab1-3">文章分頁3文章分頁3</a>
                        </li>
                    </ul>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            
            @* 文章分頁，有資料才顯示，第一頁 class + current *@
            <div class="tab current" id="tab1-1">
                <h3>台灣民政府 中央參眾議院聯合審查會議修正 台灣基本法</h3>
                <p>前言：</p>
                <p>台灣：福爾摩沙周邊群島和澎湖列島(總稱台灣)是大日本帝國台灣人民必須守護的領域，為確保領域內人民與全世界人民能共同合作，取得進步繁榮成果,讓民主、自由、和平帶來福祉。台灣民政府管轄權力源自日本天皇陛下天賦不可放棄權利及義務和人民的期盼而信託，其權力應由人民所組成代表行使，其福祉由領域內人民分享，這是萬國公法與國際法的精神與目的，台灣基本法以此精神與目的為法源，台灣民政府以天皇陛下詔書、舊金山和平條約、戰爭法精神與目的而組織，並制定台灣基本法。</p>
                <p>大日本帝國台灣人民期盼和平、自由、民主、穩定與繁榮已久，深知人類相互關係良好的源由，是堅信仁慈、公義、和平與自由的基本價值，是一心守護領域內人民安全與生存，是竭力守護賴以生存而進步的基本價值。</p>
                <p>堅信任何國家都需要尊重基本價值，而且必須優先遵守萬國公法與國際法，這是經過歷史反覆教訓而實證的法則，也是人類追求維持國際和平、穩定與繁榮的法則。</p>
                <p>台灣民政府領域內所有人民，誓以台灣基本法來守護人類賴以生存與進步的基本價值，是為了台灣人民的生存和進步。</p>
            </div>
        
            <div class="tab" id="tab1-2">
                <p>文章分頁2</p>
            </div>
        
            <div class="tab" id="tab1-3">
                <p>文章分頁3</p>
            </div>
        
        </div>
    </div>
    <!-- // 行政區域圖 -->

    <!-- 組織架構 -->
    <div class="tab" id="tab2">
        <h2 class="title"><span>組織架構</span></h2>

        @*下面是編輯器內容，有資料的話才顯示*@
        <div class="clearfix editor">
            <h3>台灣民政府 中央參眾議院聯合審查會議修正 台灣基本法</h3>
            <p>前言：</p>
            <p>台灣：福爾摩沙周邊群島和澎湖列島(總稱台灣)是大日本帝國台灣人民必須守護的領域，為確保領域內人民與全世界人民能共同合作，取得進步繁榮成果,讓民主、自由、和平帶來福祉。台灣民政府管轄權力源自日本天皇陛下天賦不可放棄權利及義務和人民的期盼而信託，其權力應由人民所組成代表行使，其福祉由領域內人民分享，這是萬國公法與國際法的精神與目的，台灣基本法以此精神與目的為法源，台灣民政府以天皇陛下詔書、舊金山和平條約、戰爭法精神與目的而組織，並制定台灣基本法。</p>
            <p>大日本帝國台灣人民期盼和平、自由、民主、穩定與繁榮已久，深知人類相互關係良好的源由，是堅信仁慈、公義、和平與自由的基本價值，是一心守護領域內人民安全與生存，是竭力守護賴以生存而進步的基本價值。</p>
            <p>堅信任何國家都需要尊重基本價值，而且必須優先遵守萬國公法與國際法，這是經過歷史反覆教訓而實證的法則，也是人類追求維持國際和平、穩定與繁榮的法則。</p>
            <p>台灣民政府領域內所有人民，誓以台灣基本法來守護人類賴以生存與進步的基本價值，是為了台灣人民的生存和進步。</p>
        </div>
    </div>
    <!-- // 組織架構 -->

    <!-- 人事名單 -->
    <div class="tab" id="tab3">
        <h2 class="title"><span>人事名單</span></h2>

        @*下面是編輯器內容，有資料的話才顯示*@
        <div class="clearfix editor">
            <h3>台灣民政府 中央參眾議院聯合審查會議修正 台灣基本法</h3>
            <p>前言：</p>
            <p>台灣：福爾摩沙周邊群島和澎湖列島(總稱台灣)是大日本帝國台灣人民必須守護的領域，為確保領域內人民與全世界人民能共同合作，取得進步繁榮成果,讓民主、自由、和平帶來福祉。台灣民政府管轄權力源自日本天皇陛下天賦不可放棄權利及義務和人民的期盼而信託，其權力應由人民所組成代表行使，其福祉由領域內人民分享，這是萬國公法與國際法的精神與目的，台灣基本法以此精神與目的為法源，台灣民政府以天皇陛下詔書、舊金山和平條約、戰爭法精神與目的而組織，並制定台灣基本法。</p>
            <p>大日本帝國台灣人民期盼和平、自由、民主、穩定與繁榮已久，深知人類相互關係良好的源由，是堅信仁慈、公義、和平與自由的基本價值，是一心守護領域內人民安全與生存，是竭力守護賴以生存而進步的基本價值。</p>
            <p>堅信任何國家都需要尊重基本價值，而且必須優先遵守萬國公法與國際法，這是經過歷史反覆教訓而實證的法則，也是人類追求維持國際和平、穩定與繁榮的法則。</p>
            <p>台灣民政府領域內所有人民，誓以台灣基本法來守護人類賴以生存與進步的基本價值，是為了台灣人民的生存和進步。</p>
        </div>
    </div>
    <!-- // 人事名單 -->

</div>








