@{
    ViewBag.Title = "歷屆合照";
    ViewBag.BodyClass = "JoinUs School";
}

@section breadcrumb {
    <li><a href="~/JoinUs">如何加入台灣民政府</a></li>
    <li><a href="~/JoinUs/Live">參加台灣法理學院</a></li>
    <li>@ViewBag.Title</li>
}

<h1 class="sr-only">如何加入台灣民政府</h1>

<ul class="tabs list-inline text-center">
    <li><a href="~/JoinUs/Live">課堂 LIVE 直播</a></li>
    <li><a href="~/JoinUs/Schedule">開課時間表</a></li>
    <li><a class="current" href="~/JoinUs/Gallery">歷屆合照</a></li>
    @* 歷屆課程影片網址來源: 後台 > 加入台灣民政府 > 參加台灣法理學院 > 歷屆課程影片 *@
    <li><a href="https://www.youtube.com/user/bmudw/playlists?view=1&sort=dd" target="new">歷屆課程影片</a></li>
</ul>

<h2 class="title">
    <span class="underline">@ViewBag.Title</span>
    <div class="addthis_inline_share_toolbox"></div>
</h2>

<ul class="gallery prolist row row-center list-unstyled">
    <li class="col-md-6 col-12">
        <figure class="pro text-center">
            <a href="https://www.flickr.com/photos/usmgtcg/27466725216/in/album-72157647803685624/" target="_blank" class="thumbnail">
                <img src="~/Content/images/JoinUs/gallery-sp.jpg" alt="">
                @* 初級班 class + primary *@
                <span class="caption primary">第<strong>E160603</strong>期 台灣法理學院 初級班</span>
            </a>
            <a href="https://www.youtube.com/playlist?list=PLfrjFU90kKyFEzd4ZZLFSYni-BiviYXYx" target="_blank" class="btn sm">上課影片</a>
        </figure>
    </li>
    <li class="col-md-6 col-12">
        <figure class="pro text-center">
            <a href="https://www.flickr.com/photos/usmgtcg/27466725216/in/album-72157647803685624/" target="_blank" class="thumbnail">
                <img src="~/Content/images/JoinUs/gallery-sp.jpg" alt="">
                @* 高級班 class + advanced *@
                <span class="caption advanced">第<strong>H160527</strong>屆 高級班</span>
            </a>
            <a href="https://www.youtube.com/playlist?list=PLfrjFU90kKyFEzd4ZZLFSYni-BiviYXYx" target="_blank" class="btn sm">上課影片</a>
        </figure>
    </li>
    <li class="col-md-6 col-12">
        <figure class="pro text-center">
            <a href="https://www.flickr.com/photos/usmgtcg/27466725216/in/album-72157647803685624/" target="_blank" class="thumbnail">
                <img src="~/Content/images/JoinUs/gallery-sp.jpg" alt="">
                <span class="caption primary">第<strong>E160603</strong>期 台灣法理學院 初級班</span>
            </a>
            <a href="https://www.youtube.com/playlist?list=PLfrjFU90kKyFEzd4ZZLFSYni-BiviYXYx" target="_blank" class="btn sm">上課影片</a>
        </figure>
    </li>
    <li class="col-md-6 col-12">
        <figure class="pro text-center">
            <a href="https://www.flickr.com/photos/usmgtcg/27466725216/in/album-72157647803685624/" target="_blank" class="thumbnail">
                <img src="~/Content/images/JoinUs/gallery-sp.jpg" alt="">
                <span class="caption advanced">第<strong>H160527</strong>屆 高級班</span>
            </a>
            <a href="https://www.youtube.com/playlist?list=PLfrjFU90kKyFEzd4ZZLFSYni-BiviYXYx" target="_blank" class="btn sm">上課影片</a>
        </figure>
    </li>
    <li class="col-md-6 col-12">
        <figure class="pro text-center">
            <a href="https://www.flickr.com/photos/usmgtcg/27466725216/in/album-72157647803685624/" target="_blank" class="thumbnail">
                <img src="~/Content/images/JoinUs/gallery-sp.jpg" alt="">
                <span class="caption primary">第<strong>E160603</strong>期 台灣法理學院 初級班</span>
            </a>
            <a href="https://www.youtube.com/playlist?list=PLfrjFU90kKyFEzd4ZZLFSYni-BiviYXYx" target="_blank" class="btn sm">上課影片</a>
        </figure>
    </li>
    <li class="col-md-6 col-12">
        <figure class="pro text-center">
            <a href="https://www.flickr.com/photos/usmgtcg/27466725216/in/album-72157647803685624/" target="_blank" class="thumbnail">
                <img src="~/Content/images/JoinUs/gallery-sp.jpg" alt="">
                <span class="caption advanced">第<strong>H160527</strong>屆 高級班</span>
            </a>
            <a href="https://www.youtube.com/playlist?list=PLfrjFU90kKyFEzd4ZZLFSYni-BiviYXYx" target="_blank" class="btn sm">上課影片</a>
        </figure>
    </li>
    <li class="col-md-6 col-12">
        <figure class="pro text-center">
            <a href="https://www.flickr.com/photos/usmgtcg/27466725216/in/album-72157647803685624/" target="_blank" class="thumbnail">
                <img src="~/Content/images/JoinUs/gallery-sp.jpg" alt="">
                <span class="caption primary">第<strong>E160603</strong>期 台灣法理學院 初級班</span>
            </a>
            <a href="https://www.youtube.com/playlist?list=PLfrjFU90kKyFEzd4ZZLFSYni-BiviYXYx" target="_blank" class="btn sm">上課影片</a>
        </figure>
    </li>
    <li class="col-md-6 col-12">
        <figure class="pro text-center">
            <a href="https://www.flickr.com/photos/usmgtcg/27466725216/in/album-72157647803685624/" target="_blank" class="thumbnail">
                <img src="~/Content/images/JoinUs/gallery-sp.jpg" alt="">
                <span class="caption advanced">第<strong>H160527</strong>屆 高級班</span>
            </a>
            <a href="https://www.youtube.com/playlist?list=PLfrjFU90kKyFEzd4ZZLFSYni-BiviYXYx" target="_blank" class="btn sm">上課影片</a>
        </figure>
    </li>
</ul>