@using System.Data
@{
    ViewBag.Title = "課堂 LIVE 直播";
    ViewBag.BodyClass = "JoinUs School";

    DataTable dt = (DataTable)ViewData["dt"];
    string c_url = "";
    string id = "";

    if(dt.Rows.Count > 0)
    {
        c_url = dt.Rows[0]["C_URL"].ToString();
        id = dt.Rows[0]["ID"].ToString();
    }
    else
    {
        c_url = "";
        id = "";
    }

}

@section breadcrumb {
    <li><a href="~/JoinUs">如何加入台灣民政府</a></li>
    <li><a href="~/JoinUs/Live">參加台灣法理學院</a></li>
    <li>@ViewBag.Title</li>
}

<h1 class="sr-only">如何加入台灣民政府</h1>

<ul class="tabs list-inline text-center">
    <li><a class="current" href="~/JoinUs/Live">課堂 LIVE 直播</a></li>
    <li><a href="~/JoinUs/Schedule">開課時間表</a></li>
    <li><a href="~/JoinUs/Gallery">歷屆合照</a></li>
    @* 歷屆課程影片網址來源: 後台 > 加入台灣民政府 > 參加台灣法理學院 > 歷屆課程影片 *@
    <li><a href="https://www.youtube.com/user/bmudw/playlists?view=1&sort=dd" target="new">歷屆課程影片</a></li>
</ul>

<h2 class="title">
    <span class="underline">@ViewBag.Title</span>
    <!-- <div class="addthis_inline_share_toolbox"></div> -->
</h2>

<div class="clearfix editor">
    @* 課堂Live直播網址來源: 後台 > 加入台灣民政府 > 參加台灣法理學院 > 課堂Live直播 *@
    <div class="liveVideo embed-responsive">
        <iframe src="@c_url" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>
