@using OutWeb.App_GlobalResources


<ul class="tabs list-inline text-center">
    <li><a class="current" href="~/JoinUs/Live?langCode=@Res.lang">@Res.joinUs_live</a></li>
    @* <li><a href="~/JoinUs/Schedule?langCode=@Res.lang">@Res.joinUs_schedule</a></li> *@
    <li><a href="~/JoinUs/Gallery?langCode=@Res.lang">@Res.joinUs_gallery</a></li>
    @* 歷屆課程影片網址來源: 後台 > 加入台灣民政府 > 參加台灣法理學院 > 歷屆課程影片 *@
    <li><a href="https://www.youtube.com/user/bmudw/playlists?view=1&sort=dd" target="new">@Res.joinUs_tchVideo</a></li>
</ul>
