
@{
    ViewBag.Title = "聯絡我們";
    ViewBag.BodyClass = "ContactUs";
}

<h1 class="title"><span class="underline">@ViewBag.Title</span></h1>

<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3616.996550885309!2d121.22039491550966!3d24.96623198400416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34682231887dc2d9%3A0x4f66b4e43a1b8b9a!2zMzIw5qGD5ZyS5biC5Lit5aOi5Y2A55Kw5YyX6LevNzbomZ8!5e0!3m2!1szh-TW!2stw!4v1506419736814" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<ol class="wrap list-inline font-lg mt-16">
    <li class="mx-12"><small class="mr-4 text-secondary">地址</small> 桃園市中壢區環北路76號</li>
    <li class="mx-12"><small class="mr-4 text-secondary">電話</small> (03) 492-0137</li>
    <li class="mx-12"><small class="mr-4 text-secondary">傳真</small> (03) 491-2777</li>
    <li class="mx-12"><small class="mr-4 text-secondary">E-mail</small> <a href="mailto:whiteboardcoltd@gmail.com">whiteboardcoltd@gmail.com</a></li>
</ol>