@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Crumb = "文章管理";
    ViewBag.subnav = "Focus";
    ViewBag.subnav2 = "FocusData";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>焦點專欄管理 &gt;</li>
        <li>@ViewBag.Crumb</li>
    </ul>
}

<h3 class="title">@ViewBag.Crumb</h3>

<div class="btn-group mb-8">
    <button type="button" class="btn success oi" data-glyph="plus" onclick="location.href='FocusDataAdd'">新增</button>
</div>

<header class="table-head form-inline">
    <label>標題</label>
    <input type="text">
    <label>語系</label>
    <select>
        <option value="">全部</option>
        <option value="">繁體中文版</option>
        <option value="">英文版</option>
        <option value="">日文版</option>
    </select>
    <label>分類</label>
    <select>
        <option value="">全部</option>
        <option value="">所有美國官司案</option>
        <option value="">焦點訊息</option>
    </select>
    <label>狀態</label>
    <select>
        <option value="">全部</option>
        <option value="">發佈</option>
        <option value="">草稿</option>
    </select>
    <label>顯示於輪播區</label>
    <select>
        <option value="">全部</option>
        <option value="">是</option>
        <option value="">否</option>
    </select>
    <button class="btn">搜尋</button>
</header>
<table class="table-list table-hover table-striped">
    <colgroup>
        <col style="width: 10%">
        <col style="width: 13%">
        <col style="width: 15%">
        <col>
        <col style="width: 10%">
        <col style="width: 8%">
        <col style="width: 13%">
        <col style="width: 8%">
    </colgroup>
    <tr>
        @* 點選排序功能 (點一下遞增, 點兩下遞減)
            <button class="th-sort-toggle"></button>
            遞增 asc
            <button class="th-sort-toggle asc"></button>
            遞減 desc
            <button class="th-sort-toggle desc"></button>
        *@
        <th class="item-edit">編輯</th>
        <th><button type="button" class="th-sort-toggle">日期</button></th>
        <th><button type="button" class="th-sort-toggle">分類</button></th>
        <th><button type="button" class="th-sort-toggle">標題</button></th>
        <th><button type="button" class="th-sort-toggle">語系</button></th>
        <th><button type="button" class="th-sort-toggle">狀態</button></th>
        <th><button type="button" class="th-sort-toggle">顯示於輪播區</button></th>
        <th><button type="button" class="th-sort-toggle">排序</button></th>
    </tr>
    @* 
    無資料
    <tr class="bg-pale-red"><td colspan="8">查無資料!</td></tr>
    *@
    <tr>
        <td>
            <button class="hover-danger oi delete-btn" title="刪除" type="button" data-glyph="trash"></button>
            <button class="hover-primary oi" title="修改" data-glyph="pencil" type="button" onclick="location.href='@Url.Content("~/_SysAdm/FocusDataEdit")'"></button>
        </td>
        <td class="text-left">2017-01-02</td>
        <td class="text-left">所有美國官司案</td>
        <td class="text-left">標題標題標題標題標題</td>
        <td>繁體中文版</td>
        <td>
            <span class="label-muted">草稿</span>
        </td>
        <td>否</td>
        <td>2</td>
    </tr>
    <tr>
        <td>
            <button class="hover-danger oi delete-btn" title="刪除" type="button" data-glyph="trash"></button>
            <button class="hover-primary oi" title="修改" data-glyph="pencil" type="button" onclick="location.href='@Url.Content("~/_SysAdm/FocusDataEdit")'"></button>
        </td>
        <td class="text-left">2017-01-01</td>
        <td class="text-left">焦點訊息</td>
        <td class="text-left">標題標題標題標題標題</td>
        <td>繁體中文版</td>
        <td>
            <span class="label-success">發佈</span>
        </td>
        <td>是</td>
        <td>1</td>
    </tr>
</table>
<footer class="table-foot">
    <small class="pull-right">第 1 - 2 筆，共 2 筆</small>
    <nav class="pager">
        <button class="oi" data-glyph="media-step-backward" title="到最前頁" type="button" disabled></button>
        <button class="oi" data-glyph="chevron-left" title="上一頁" type="button" disabled></button>
        <span>第<input name="page" class="text-center" type="number" value="1">頁，共 1 頁</span>
        <button class="oi" data-glyph="chevron-right" title="下一頁" type="button" disabled></button>
        <button class="oi" data-glyph="media-step-forward" title="到最後頁" type="button" disabled></button>
    </nav>
</footer>