@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Crumb = "單一網頁內容編輯";
    ViewBag.subnav = "JoinUs";
    ViewBag.subnav2 = "JoinUs";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>加入台灣民政府 &gt;</li>
        <li>參加台灣法理學院 &gt;</li>
        <li>@ViewBag.Crumb</li>
    </ul>
}

@section IncludeScript {
    <script>
        $('.slide-trigger').click(function(){
            $(this).parents('.pages').children('.pages-content').slideToggle();
        });
    </script>
}

<h3 class="title">@ViewBag.Crumb <small class="oi" data-glyph="tags">編輯</small></h3>

<dl class="field">
    <dt class="col-1"><sup title="必填">*</sup> 語系</dt>
    <dd class="col-6">
        <select name="" id="" class="form-element" required>
            <option value="">繁體中文版</option>
            <option value="">英文版</option>
            <option value="">日文版</option>
        </select>
    </dd>
</dl>

<dl class="field">
    <dt class="col-1"><sup title="必填">*</sup> 項目</dt>
    <dd class="col-6">
        <select name="" id="" class="form-element" required>
            <option value="">申請民政府身份證</option>
            <option value="">地方服務處諮詢</option>
            <option value="">開課時間表</option>
        </select>
    </dd>
</dl>

<hr class="my-16">

<div class="alert-warning mb-16">
    <strong>編輯器注意事項:</strong><br>
    從 WORD 複製文字時，請使用下方的 <img src="~/Content/images/icon-word.jpg" /> 圖示來貼上 WORD 文字，避免跑版<br />
    編輯器上傳圖片或新增表格等時，請勿設定寬度及高度(將數字刪除) ，以免行動裝置顯示時會跑版。<br />
    檔案尺寸寬度超過 1600 或 高度超過1200 的圖片會被壓縮(PNG透明背景會變成不透明)
</div>

<div class="mb-12 clearfix">
    <h4 class="pull-left my-0">
        分頁
        <small class="text-muted">(共1頁)</small>
    </h4>
    <button class="btn success sm oi ml-16" data-glyph="plus">新增</button>
</div>

<div class="pages">
    <header class="table-head form-inline">
        <button class="slide-trigger btn primary pull-right">收合/展開</button>
        <label for="" class="sr-only">標題</label>
        <input type="text" placeholder="標題" style="width: 255px;" required>
        <label for="" class="sr-only">狀態</label>
        <select name="" id="" required>
            <option value="" selected disabled>狀態</option>
            <option value="">發佈</option>
            <option value="">草稿</option>
        </select>
        <label for="" class="sr-only">排序</label>
        <input type="text" placeholder="排序 (數字愈大愈前面)" required>
        <button class="btn danger oi" data-glyph="trash">刪除</button>

    </header>
    <div class="pages-content">
        <textarea rows="18" name="contenttext"></textarea>
    </div>
</div>

<footer class="submit-bar clear mt-24">
    <button type="submit" class="btn success oi" data-glyph="circle-check">
        確認儲存
    </button>
</footer>

<script>
    (function ($) {
        $(function () {
            CKFinder.setupCKEditor(null, { basePath: '/ckfinder/', skin: 'v1' });
            CKEDITOR.replace('contenttext');
        })
    })(jQuery);
</script>