@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Crumb = "法理學院歷屆合照";
    ViewBag.subnav = "JoinUs";
    ViewBag.subnav2 = "SchoolData";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>加入台灣民政府 &gt;</li>
        <li>參加台灣法理學院 &gt;</li>
        <li>@ViewBag.Crumb</li>
    </ul>
}

<h3 class="title">@ViewBag.Crumb <small class="oi" data-glyph="tags">編輯</small></h3>

<dl class="field">
    <dt class="col-1"><sup title="必填">*</sup> 語系</dt>
    <dd class="col-6">
        <select name="" id="" class="form-element" required>
            <option value="">繁體中文版</option>
            <option value="">英文版</option>
            <option value="">日文版</option>
        </select>
    </dd>
</dl>

<dl class="field">
    <dt class="col-1"><sup title="必填">*</sup> 日期</dt>
    <dd class="col-6">
        <input type="date" class="form-element" value="2017-01-01" required>
    </dd>
</dl>

<dl class="field">
    <dt class="col-1"><sup title="必填">*</sup> 班別</dt>
    <dd class="col-6">
        <select name="" id="" class="form-element" required>
            <option value="">初級班</option>
            <option value="">高級班</option>
        </select>
    </dd>
</dl>

<dl class="field">
    <dt class="col-1"><sup title="必填">*</sup> 期別</dt>
    <dd class="col-6">
        <input type="text" class="form-element" value="E160603" required>
    </dd>
    <dd class="col-5">
        <small class="text-secondary">只需輸入英數字。ex. 第E160603期 請輸入 E160603</small>
    </dd>
</dl>

<dl class="field">
    <dt class="col-1"><sup title="必填">*</sup> 影片網址</dt>
    <dd class="col-6">
        <input type="text" class="form-element" placeholder="http://" required>
    </dd>
    <dd class="col-5">
        <small class="text-secondary">請輸入課程影片網址</small>
    </dd>
</dl>

<dl class="field">
    <dt class="col-1"><sup title="必填">*</sup> 狀態</dt>
    <dd class="col-6">
        <input type="radio" class="radio" name="publish" id="public" checked>
        <label for="public"></label>
        發佈
        <input type="radio" class="radio" name="publish" id="draft">
        <label for="draft"></label>
        草稿
    </dd>
</dl>

<dl class="field">
    <dt class="col-1"><sup title="必填">*</sup> 排序</dt>
    <dd class="col-3">
        <input type="text" class="form-element" value="1" required>
    </dd>
    <dd class="col-5">
        <small class="text-secondary">數字愈大愈前面</small>
    </dd>
</dl>

<dl class="field">
    <dt class="col-1">代表圖</dt>
    <dd class="col-6">
        <div class="input-file">
            <input type="file">
        </div>
        <small class="block text-secondary">可上傳 1 張圖片，建議尺寸 800*450px，建議檔案大小不超過 1000kb</small>
        <div class="uploaded">
            <button class="close" type="button">×</button>
            <img src="" width="100">
        </div>
    </dd>
</dl>

<footer class="submit-bar clear mt-24">
    <button type="submit" class="btn success oi" data-glyph="circle-check">
        確認儲存
    </button>
    <button type="button" class="btn warning oi" data-glyph="x" onclick="location.href='SchoolDataList'">
        取消，回列表
    </button>
</footer>