@charset "UTF-8";

$placeholders-selectors: () !default;

//
// == 壓縮 mixin - 壓縮合併樣式(佔位符%)
// -----------------------------------------------------------------
// https://alistapart.com/article/dry-ing-out-your-sass-mixins/

// @include mixin-dryer(clearfix, flase)
@mixin mixin-dryer($id, $extend: true) {
    $selector: map-get($placeholders-selectors, $id);

    @if $extend == true {
        @if $selector == null {
            $selector: unique-id();
            $placeholders-selectors: map-merge($placeholders-selectors, ($id: $selector)) !global;
            @at-root %#{$selector} {
                @content;
            }
        }
        @extend %#{$selector};
    }
    @else {
        @content;
    }
}